<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Intilij prjs/website_automated_task/src/test/java">
        <classes>
            <class name="login.LoginTests">
                <methods>
                    <include name="testSuccessfullyLogin"/>
                </methods>
            </class>
            <class name="navigate.NavigateTests">
                <methods>
                    <include name="testSuccessfullyNavigate"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>